@white: #FFF;
@black: #000;

body {
    background-color: @white;
    color: @black;
    height: initial !important; /* makes scrollbar glitches, but otherwise window.scrollY is always 0 in chrome */
}

.vgrid {
    display: block;
    position: relative;
}
.vgrid > .vgrow {
    cursor: pointer;
    display: block;
    height: 8px;
}
.vgrid * {
}
.vgrid > .vgrow div {
    position: absolute;
    height: 8px;
}
.vgrid .vgrow .dissenting {
    opacity: 0.7;
}
.vgrid .vgrow {
    opacity: 0.7;
}
.vgrid .vgrow.active, .vgrid .vgrow:hover {
    opacity: 1;
}
.party {
    background-color: #f8f;
}
.party.B {
    background-color: #6ac3db;
}
.party.C {
    background-color: #00a;
}
.party.G {
    background-color: #0a0;
}
.party.N {
    background-color: rgba(243,112,33,0.93);
}
.party.L {
    background-color: #a00;
}
.mppartylabel {
    float: left;
    width: 1em;
}
.mppartypixel {
    float: left;
    width: .4em;
    height: .4em;
    margin-top: .3em;
    margin-right: .4em;
}
table.votebyparty .votecount {
    display: inline-block;
    width: 2.5em;
    text-align: right;
}
table.votebyparty tfoot td {
    padding-left: 1.8em;
    border-top: 1px solid #000;
}
