@white: #FFF;
@black: #000;

body {
    background-color: @white;
    color: @black;
}

.vgrid {
}
.vgrid > .row {
    display: block;
    height: 3px;
}
.vgrid > .row > div {
    display: inline-block;
    width: 3px;
    height: 3px;
}
.vgrid .vote-yes {
    background-color: #0a0;
}
.vgrid .vote-no {
    background-color: #a00;
}
.vgrid .vote-nothing {
    background-color: #ddd;
}
